numpy==1.26.4
pandas==1.5.3
scipy==1.13.1
scikit-learn==1.6.1
matplotlib==3.9.4

torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
torchinfo==1.8.0
torchmetrics==1.2.1

einops==0.8.2
tqdm==4.70.0
PyYAML==6.0.3